{%  extends 'base.html'%}

{% block content %}

{% load static %}


<center>





<!-- Search button HTML tags.. --> 
 <form style ="text-align:right" action = "{% url 'search-results' %}" method = "get">
	<input name ="q" type = "text" placeholder ="Search ...">
	<!-- yaha q variable name ho jun views ma use garinxa-->

	<button type = 'submit'> Go </button> 
</form>	



<!--============== Staff list========== -->


			
<center>

<div class="container">
  <h2>कर्मचारीहरु</h2>


  
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead class="thead-light">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Post</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Father Name </th>
        </tr>
      </thead>
      <tbody>

      <!--============Djnago Code======-->
        {% for staff in staff_list %}
                   


        <tr>
            <td>{{ staff.id }}</td>
            <td><a href = "{% url 'staff-detail' staff.id %}">{{ staff.name }}</a></td>
            <td>{{ staff.post }}</td>
            <td>{{ staff.address }}</td>
            <td>{{ staff.ph_num }}</td>
            <td>{{ staff.family }}</td>
           

        </tr>
          {% endfor%}     
               

      </tbody>
    </table>

              
  </div>
</div>




<!-- Button of permanent and non permanent staff.. -->


<a href = "#"><button type = 'submit' class="btn btn-secondary"> Permanent Staff </button></a>

&nbsp;
<a href = "#"><button type = 'submit' class="btn btn-secondary"> Non Permanent Staff </button> </a>



</center>

{% endblock %}