{%  extends 'base.html'%}

{% block content %}
{% load static %}




<!-- Details of Staff....  -->
<center>
<center>
<div class="container" >
<div class="col-12">
  	<div class="card">
	  	<div class="card bg-info text-white">
		    <div class="card-header">व्याक्तिगत विवरण </div>
		</div>
		


		<!-- Generating Start -->
        <div class="generating-area ">
            <div class="container">
                 
                <!-- General infos -->
                <div class="row">
                	<div class="col-lg-8 col-md-8">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-chart"></span>
                            </div>
                            <div class="generating-cap text-left">
                                
                                <p>
                                Name: {{ object.name }} <br> <br>
								Post: {{ object.post }} <br> <br>
								Dob: {{ object.dob }} 


                                 </p>
                            </div>
                        </div>
                    </div> 

                    <!-- Staff's Photo -->
                
                    <div class="col-lg-4 col-md-4">
                        <div class="single-generating d-flex mb-30">
                            
                            <div class="generating-cap text-left">
                                <h4>Photo:</h4>
                                <p>
                                 {% if object.photo %}
                                    
                                     
                                    <img class="rounded-circle" alt="Cinque Terre" src="{{ object.photo.url }}" length=150 width=150 />
                                 
                                {% endif %}
                                 
                                 
                                 </p>
                            </div>
                        </div>
                    </div>

                    <!-- Address -->
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-chart"></span>
                            </div>
                            <div class="generating-cap text-left">
                                <h4>Address:</h4>
                                <p>
                                Country: {{ object.address.country }} <br><br>
								Province : {{object.address.province}} <br><br>
                                District : {{object.address.district}} <br><br>
                                Municipal : {{object.address.municipal}} <br><br>

                                 </p>
                            </div>
                        </div>
                    </div> 

                    <!-- Family infos -->
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-chart"></span>
                            </div>
                            <div class="generating-cap text-left">
                                <h4>Family Info:</h4>
                                <p>
                                Father name: {{ object.family }} <br><br>
                                Mother name : {{object.family.mother_name}} <br><br>

                                 </p>
                            </div>
                        </div>
                    </div> 


                    <!-- Desired Person Infos -->
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="generating-cap text-left">
                                <h4>Desired Person:</h4>
                                <p>
                                Name: {{ object.desiredperson }} <br><br>
								Relation : {{object.desiredperson.relation}} <br><br>
                                



                                 </p>
                            </div>
                        </div>
                    </div>
                    

                    <!-- Appointment Infos -->
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="generating-cap text-left">
                                <h4>Appointment Info:</h4>
                                <p>
                                Office Name: {{ object.appointment.office }} <br><br>
                                Post : {{object.appointment.post}} <br><br>
                               Date : {{object.appointment.appointment_date}} <br><br>



                                 </p>
                            </div>
                        </div>
                    </div>



                    
                    <!-- Documents -->
                    <div class="col-lg-6 col-md-6">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="generating-cap text-left">
                                <h4>Document:</h4>
                                
                                {% for elements in documents %}
                                Name: {{ elements.name }} <br><br>
                                
                                Document File : <a href = "{% url 'staff-document-view' elements.id %}" target = '_new'> {{ elements.doc_file }} </a> <br><br>

                                {% endfor %}

                               
                            </div>
                        </div>
                    </div>




                    <!-- Educational Info details Start -->
                    <div class="col-lg-12 col-md-12">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="generating-cap text-left">
                                <H4 >Educational Info: &nbsp; <img id = "edu_btn" src = "{% static './assets/img/shape/read_more.png' %}" ></H4>
                               
                                <div class="table-responsive-sm " style="display: none;"  id = "edu_detail">
                                    <table class="table table-bordered  table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                              <th>Degree</th>
                                              <th>Institue Name</th>
                                              <th>Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                       {% for elements in educations %}
                                        <tr>
                                            <td>{{ elements.Degree }}</td>
                                            <td>{{ elements.institue_name}}</td>
                                            <td>{{ elements.address }}</td>
                                        </tr>
                                        {% endfor %}
                                       
                                        </tbody>
                                    </table> 

                                    </div>
                                
                               
                            </div>
                        </div>
                    </div>
                    <!-- Educational Info details End -->



                    <!-- Update Button -->
                    <div class= "container">
                        <div class = "row justify-content-center">
                            <a href = "{% url 'staff-update'  object.id  %}"><button type = 'submit' class="btn header-btn "> माथिका विवरणहरू सच्चयाउनुहोस !</button></a> 
                        </div >
                    </div>



                    <!-- Service Info details Start -->
                    <div class="col-lg-12 col-md-12">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="generating-cap text-left">
                                <h4>Service Info:&nbsp; <img id = "service_btn" src = "{% static './assets/img/shape/read_more.png' %}" ></h4>

                                
                                <div class="table-responsive-sm" style = "display: none;" id= "service_detail">
                                    <table class="table table-bordered  table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                              <th>Post</th>
                                              <th>Office Name</th>
                                              <th>appointmnet Type</th>
                                              <th>Start date</th>
                                              <th>end_date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                       {% for elements in services %}
                                        <tr>
                                            <td>{{ elements.post }}</td>
                                            <td>{{ elements.office}}</td>
                                            <td>{{ elements.appointment_type }}</td>
                                            <td>{{ elements.start_date }}</td>
                                            <td>{{ elements.end_date }}</td>
                                            
                                            
                                        </tr>
                                        {% endfor %}
                                       
                                        </tbody>
                                    </table>  
                                    <!-- Add Buttons -->
                                    <a href = "{% url 'service-add' object.id %} "><button type = 'submit' class="btn header-btn "> Add </button></a>         
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- service Info details End -->

                    <!-- Leave Info details Start -->

                    <div class="col-lg-6 col-md-12">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="generating-cap text-left">
                                <h4>Leave Info:&nbsp; <img id = "leave_btn" src = "{% static './assets/img/shape/read_more.png' %}" ></h4>

                                
                                <div class="table-responsive-sm" style="display: none;"  id = "leave_detail">
                                    <table class="table table-bordered  table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                              <th>Leave type</th>
                                              <th>Leave Days</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                       {% for elements in leaveinfos %}
                                        <tr>
                                            <td>{{ elements.leave_type }}</td>
                                            <td>{{ elements.Leave_days}}</td>
                                            
                                        </tr>
                                        {% endfor %}
                                       
                                        </tbody>
                                    </table>  
                                    <!-- Add Button -->
                                    <a href = "{% url 'leave-add' object.id %}" ><button type = 'submit' class="btn header-btn "> Add </button></a>                       
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Punishment Info details Start -->
                    <div class="col-lg-6 col-md-12">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-social-media-marketing"></span>
                            </div>
                            <div class="generating-cap text-left">
                                <h4>Punishment Info:&nbsp; <img id = "punish_btn" src = "{% static './assets/img/shape/read_more.png' %}" ></h4>

                                
                                <div class="table-responsive-sm" style="display: none;"  id = "punish_detail">
                                    <table class="table table-bordered  table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                              <th>Punishment Type</th>
                                              <th>Order Date</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                       {% for elements in punishments %}
                                        <tr>
                                            <td>{{ elements.punishment_type }}</td>
                                            <td>{{ elements.order_date}}</td>
                                            
                                        </tr>
                                        {% endfor %}
                                       
                                        </tbody>
                                    </table> 
                                    <!-- Add Button -->
                                    <a href = "{% url 'punishment-add' object.id %}" ><button type = 'submit' class="btn header-btn "> Add </button></a>                        
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Treatment Info details Start -->
                    <div class="col-lg-6 col-md-12">
                        <div class="single-generating d-flex mb-30">
                            <div class="generating-icon">
                                <span class="flaticon-tasks"></span>
                            </div>
                            <div class="generating-cap text-left">
                                <h4>Treatment Info:&nbsp; <img id = "treatment_btn" src = "{% static './assets/img/shape/read_more.png' %}" ></h4>

                                
                                <div class="table-responsive-sm" style="display: none;"  id = "treatment_detail">
                                    <table class="table table-bordered  table-hover">
                                        <thead class="thead-light">
                                            <tr>
                                              <th>Amount</th>
                                              <th> Date</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                       {% for elements in treatments %}
                                        <tr>
                                            <td>{{ elements.amount }}</td>
                                            <td>{{ elements.date}}</td>
                                            
                                        </tr>
                                        {% endfor %}
                                       
                                        </tbody>
                                    </table>
                                    <!-- Add Button -->
                                    <a href = "{% url 'treatment-add' object.id %}"><button type = 'submit' class="btn header-btn "> Add </button></a>                         
                                </div>
                            </div>
                        </div>
                    </div>
                    



                </div>
            </div>
        </div>
        <!-- Generating End -->

			
			
			<br>
		<div class="card-footer">
			

		</div>
		</div>
	</div>
</div>
</div>

<!-- Buttons -->


<a href = "#"><button type = 'submit' class="btn btn-secondary"> Leave Info </button></a>

&nbsp;
<a href = "#"><button type = 'submit' class="btn btn-secondary"> Treatment Expense </button> </a>
&nbsp;
<a href = "#"><button type = 'submit' class="btn btn-secondary"> Punishment Info </button></a>


<!-- JS here -->
    
    <!-- Jquery toggle, show, hide -->


        <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static './assets/js/custom.js' %}"></script>




</center>
{% endblock %}
