{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Slider Area Start-->

        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center" data-background="{% static 'assets/img/hero/h1_hero.png' %}">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h2 data-animation="fadeInLeft" data-delay=".4s">कर्मचारी अभिलेख व्यवस्थापन प्रणालीमा स्वागत छ ।</h2>
                                    <p data-animation="fadeInLeft" data-delay=".6s">मन्त्रालय । विभाग । कार्यालय । को विवरण, दरबन्दी सम्बन्धी विवरण,  कर्मचारीहरुको पद दर्ता, वैयक्तिक  विवरण, शुरु नियुक्ती, हालको पद, सेवाको विवरण, शैक्षिक योग्यता, तालिम, सेमिनार सम्मेलन, विभागिय सजायको विवरण, विदा र औषधी उपचारको विवरण अध्यावधिक गर्न, कर्मचारी सम्बन्धी आवश्यक विवरण एवं तथ्याङ्क उपलब्ध गराउन, कर्मचारी तथा जनप्रतिनिधिहरुको सम्पत्ति विवरण अध्यावधिक सम्बन्धि कार्य गर्न , अभिलेख व्वस्थापनमा सहजीकरण गरी सूशासन प्रवर्धन गर्न यो प्रणाली (Personal Information Managaement System- PIMS) विकास गरी संचालनमा ल्याईएको छ ।</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="{% url 'staff-add' %}" class="btn hero-btn">कर्मचारी फाराम भर्नुहोस</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="{% static 'assets/img/hero/hero_right.png ' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slider-height d-flex align-items-center" data-background="{% static 'assets/img/hero/h1_hero.png' %}">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-7 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay=".4s">We Collect<br> High Quality Leads</h1>
                                    <p data-animation="fadeInLeft" data-delay=".6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravi.</p>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn" data-animation="fadeInLeft" data-delay=".8s">
                                        <a href="industries.html" class="btn hero-btn">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="hero__img d-none d-lg-block" data-animation="fadeInRight" data-delay="1s">
                                    <img src="{% static 'assets/img/hero/hero_right.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}